*{
    box-sizing: border-box;
}

main {
    max-width: 767px;
    min-width: 320px;
    margin: auto;
    border: solid;
    /* color: */
}

.ReactModal__Overlay {
    opacity: 0;
    transform: translateY(-5%);
    transition: all 300ms ease-in-out;
  }
  
  .ReactModal__Overlay--after-open {
    opacity: 1;
    transform: translateX(0px);
  }
  
  .ReactModal__Overlay--before-close {
    opacity: 0;
    transform: translateY(-5%);
  }

@media(min-width: 992px){
    main {
        max-width: 1080px;
    }
  }