main {
  width: 100%;
  max-width: 767px;
  margin:auto;
  border:solid 1px lightgray;
  /* color: */
}

@media(min-width: 992px){
  main {
        max-width: 1080px;
    }
  }

.ReactModal__Overlay {
  opacity: 0;
  transform: translateY(-5%);
  transition: all 300ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transform: translateX(0px);
}

.ReactModal__Overlay--before-close {
  opacity: 0;
  transform: translateY(-5%);
}

.ReactModal__Content{
  min-width:300px;
  max-width:95%;
}

@media(min-width: 992px){
  .ReactModal__Content {
    max-width: 50%;
  }
  }
